{% extends 'd_bazar_App/base.html' %}
{% load static %}
{% block title %}
Home-D bazar
{%endblock%}

{%block page %}
<div class="card" id="otpModal" style="width: 20em; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:100;">
    <form class="px-4 py-3" id="otpForm" action="{% url 'verify_otp' %}" method="POST">
        {% csrf_token %}
        <h2>Account Verification</h2>
       <p>An OTP has been sent to <strong>{{ request.session.signup_email }}</strong>. Please enter it below to complete your registration.</p>
        <div class="input-group mb-3">
            <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Verify</button>
        </div>
    </form>
</div>
{% endblock %}